/* custom vertical tabs for vscode */
/*
    tested in VSCode Version 1.37.1

    feel free to use this piece of CSS
    You need "Custom CSS and JS Loader" Extension installed.

    You need to add following settings to your vscode settings:

    {
      "vscode_custom_css.imports": [
        "file:///your//path//vscode.css"
      ],
      "vscode_custom_css.policy": true,
      "workbench.editor.showTabs": true
    }

    You need to reload VSCode after installation and configuration.

    Feel free to contact me on github: @cmmdmx

    Please reference me when sharing.
*/

/* editor layout */


.split-view-view.visible {
  transform: translate(0,0);
}

/* tabs */

.monaco-breadcrumb-item {
  width: 100% !important;
}

.tabs-and-actions-container {
  display: flex !important;
  flex-direction: column !important;
  flex: 1;
}

.tab.close-button-right.sizing-fit.has-icon-theme.dirty {
  width: 100%;
}

.editor-actions {
  order: -1;
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}

.editor-actions li {
  pointer-events: all;
}

.tabs-container { 
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  flex: 1;
}

.tab.close-button-right.sizing-fit.has-icon-theme {
  width: 100% !important;
  min-width: 100% !important;
  align-self: stretch;
}

.tabs-and-actions-container > .monaco-scrollable-element {
  min-height: 100% !important;
  height: unset !important;
  max-height: unset !important;
  display: flex;
  flex-direction: column;
}

.title.tabs.show-file-icons {
  min-width: 3em;
  max-width: 3em;
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: hiasdfdden;
  z-index: 1;
  cursor:default !important;
}

.tab.close-button-right.sizing-fit.dirty::before {
  content: "";
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em;
  background-color:#ccc;
}

.title.tabs.show-file-icons .label-name {
  visibility: hidden;
  max-width: 1em !important;
  min-width: 1em !important;
}

.title.tabs.show-file-icons:hover {
  min-width: 12em;
  max-width: 16em;
  overflow: auto;
  opacity: 0.9;
  z-index: 1;
}

.title.tabs.show-file-icons:hover .label-name {
  visibility: visible;
  max-width: unset;
  min-width: unset;
}

.tabs-breadcrumbs {
  border-top: 1px solid #cccccc;
}

.breadcrumbs-control.backslash-path {
  height: unset !important;
}


.breadcrumbs-control.backslash-path .monaco-breadcrumbs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: unset !important;
  height: unset !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-breadcrumbs .breadcrumbs-control .monaco-breadcrumb-item {
  align-self: flex-start;
}

.monaco-breadcrumb-item {
  min-width: 3em !important;
}

.monaco-breadcrumb-item::before {
  content: "";
  min-width: 1em !important;
  max-width: 1em !important;
  display: none !important;
}

.monaco-breadcrumb-item .symbol-icon {
  width: 1em;
  height: 1em;
  padding: 0 0.2em;
  overflow: hidden;
}

.monaco-icon-label-description-container {
  padding-left: 0.2em;
}

.title.tabs.show-file-icons .monaco-breadcrumb-item {
  padding-left: 1em;
}

/* editor */

.minimap.slider-mouseover {
  left: unset !important;
  right: 0;
  opacity: 0.3;
}

.minimap.slider-mouseover:hover {
  opacity: 1;
}

.editor-instance {
  position: absolute;
  left: 0;
}

.monaco-editor.no-user-select {
  box-sizing: border-box;
  padding-left: 3em;
}

.monaco-editor .overflow-guard {
  width: 100% !important;
}

.lines-content.monaco-editor-background {
  position: relative !important;
  width: 100% !important;
}

.editor-group-container {
  flex-direction: row !important;
  display: flex !important;
  background-color: rgb(37, 37, 38);
}

.editor-container {
  flex: 4;
  margin-top: auto;
}
